@font-face {
  font-family: "iconfont"; /* Project id 924072 */
  src: url('//at.alicdn.com/t/font_924072_wvnm8aakpf.woff2?t=1641260283617') format('woff2'),
       url('//at.alicdn.com/t/font_924072_wvnm8aakpf.woff?t=1641260283617') format('woff'),
       url('//at.alicdn.com/t/font_924072_wvnm8aakpf.ttf?t=1641260283617') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zhongwen:before {
  content: "\e620";
}

.icon-naijiu1:before {
  content: "\e61f";
}

.icon-gaoxiao:before {
  content: "\e61e";
}

.icon-naijiu:before {
  content: "\e61d";
}

.icon-portal-icon-yingyu:before {
  content: "\e61c";
}

.icon-fangdajing:before {
  content: "\e61b";
}

.icon-jisuanqilishuai:before {
  content: "\e61a";
}

.icon-icon-fangxiangpan:before {
  content: "\e619";
}

.icon-ai66:before {
  content: "\e60c";
}

.icon-fengneng:before {
  content: "\e60b";
}

.icon-guangfuban:before {
  content: "\e609";
}

.icon-nengyuanguanli-nengyuanzonglan:before {
  content: "\e608";
}

.icon-qianmoney113:before {
  content: "\e604";
}

.icon-fuwu:before {
  content: "\e601";
}

.icon-xiazai:before {
  content: "\e618";
}

.icon-jiayouqia:before {
  content: "\e616";
}

.icon-lightningbshandian:before {
  content: "\e617";
}

.icon-location:before {
  content: "\e615";
}

.icon-douyin:before {
  content: "\e614";
}

.icon-huabanfuben:before {
  content: "\e612";
}

.icon-huaban:before {
  content: "\e613";
}

.icon-close:before {
  content: "\e611";
}

.icon-Group-:before {
  content: "\e610";
}

.icon-deng:before {
  content: "\e60f";
}

.icon-hezuoqudao:before {
  content: "\e60e";
}

.icon-qizhi:before {
  content: "\e60d";
}

.icon-ego-caidan:before {
  content: "\e60a";
}

.icon-icon-email:before {
  content: "\e607";
}

.icon-weixin:before {
  content: "\e605";
}

.icon-weibo:before {
  content: "\e606";
}

.icon-dianhua:before {
  content: "\e603";
}

.icon-iconfontjiantou:before {
  content: "\e602";
}

